.home_page{
    width: 100%;
    height: 80vh;
    padding:0px;
    margin:100px auto;
}

.homeProducts{
    width: 100%;
    padding:0px 20px 50px 20px;
}

.homeProducts h2{
    font-size:25px;
    font-weight: 600;
    line-height: 35px;
}
.filterTabs .list-group-item{
    border:none !important;
}

.filterTabs .list-group-item a{
    text-decoration: none !important;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filterTabs .list-group-item:hover a{
    color: #0aad4e;
    transform: translateY(-10px);
}

.productRow{
    display: flex;
    padding: 10px;
}

.productRow .productItem{
    width:280px;
    height: auto;
}

.product-slider .slick-slide{
    margin-left: 15px;
}


.product-slider .slick-arrow{
    position: absolute;
    top:50%;
    width:40px !important;
    height: 40px !important;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color:#35AC75;;
    z-index: 99999;
}
.product-slider .slick-arrow:focus{
    background-color: #35AC75 !important;
    z-index: 99999;
}

.product-slider .slick-arrow:hover{
    background-color: #35AC75 !important;
    z-index: 99999;
}
.product-slider .slick-arrow.slick-prev{
   left: -20px !important;
}
.product-slider .slick-arrow.slick-next{
    right: -25px !important;
}

.product-slider .slick-prev:before, .slick-next:before{
    font-size: 16px !important;
    color: #fff;
}

.product-slider .slick-next:before{
    content: '\f053' !important;
    color: #fff !important;
    font-family: FontAwesome;
}

.product-slider .slick-prev:before{
    content: '\f054' !important;
    color: #fff !important;
    font-family: FontAwesome;
}
.titem{
    margin-right: 20px;
}

.topProductsection{
    padding: 80px 0px !important;
}