

.catSlider{
    height: auto;
    width: 100%;
    padding:0px 20px;
}
.cat-slider{
    padding:30px 0px;
}
.cat-slider .item1{
    text-align: center;
    cursor: pointer;
}
.cat-slider .item1 .item1_info{
  text-align: center;
  padding:10px;
  border-radius: 12px;
  border:1px solid #0000002d;
  transition: all 0.3s ease;
}

.cat-slider .item1_info:hover{
    border:1px solide #35ac7591;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cat-slider .item1  h4{
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}
.cat-slider .slick-slide{
    margin-right: 20px !important;
    padding: 0px;

}
.cat-slider .item1 img{
    width: 60%;
    margin:8px auto;
}
.cat-slider .item1 p{
   font-size:12px;
   font-weight: 500;
   line-height: 20px;
}

.cat-slider .slick-arrow{
    position: absolute;
    top:-20px;
    width:50px !important;
    height: 50px !important;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    z-index: 99999;
}
.cat-slider .slick-arrow:focus{
    
    z-index: 99999;
}

.cat-slider .slick-arrow:hover{
    
    z-index: 99999;
}
.cat-slider .slick-arrow.slick-prev{
   left: 91% !important;
}
.cat-slider .slick-arrow.slick-next{
    right: 35px !important;
}

.cat-slider .slick-prev:before, .slick-next:before{
    font-size: 20px !important;
    color: #35AC75;
}

.cat-slider .slick-next:before{
    content: '\f053' !important;
    color: #35AC75 !important;
    font-family: FontAwesome;
}

.cat-slider .slick-prev:before{
    content: '\f054' !important;
    color: #35AC75 !important;
    font-family: FontAwesome;
}
