

.nav{
    
    width: 100%;
    padding: 10px;
    margin:0;
    border-top: 1px solid rgba(53, 172, 117, 0.3);
    border-bottom: 1px solid rgba(53, 172, 117, 0.3);
    
}

.nav button i{
    margin:0px 7px;
}


nav button{
    background-color: transparent !important;
    border:none !important;
    outline:none !important;
}
nav button a{
    text-decoration: none !important;
    color: #000 !important;
    padding: 08px 12px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
   
}

nav button:hover{
    background-color: rgba(21, 115, 71, 0.3) !important;
}

.part2{
    margin-bottom: -10px;
}

.part3{
    margin-bottom: -10px;
}

.part3 i{
   
    padding:10px;
    border-radius: 100%;
    color:#35AC75;
    font-size:30px;
    margin-top:-5px;
   
}
.phoneNumber button .phoneText{
    font-size:25px;
    font-weight: 700;
    color:#35AC75;
}

.secondPart{
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    
}

.secondPart .phoneText{
    font-size:20px;
    color: #35AC75;
    font-weight:600;
    line-height: 25px;
    margin-bottom: 03px;
}
.pages{
    position: relative;
}

.dropdown_menu{
    position: absolute;
    top:40px;
    list-style-type: none;
    width:250px;
    margin:0;
    padding:20px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
    text-align: left;
}

.dropdown_menu a{
    display: block;
    padding: 8px 0;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.dropdown_menu a:hover{
    color: #35AC75;
}

.mega_menu {
    position: absolute;
    top: 70px;
    left:50px;
    right:50px;
    width: 100%; /* Full viewport width */
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    z-index: 999;
    padding: 50px;
    margin:0px auto;

}

/* Ensure it appears on hover */
.mega_menu .container {
    max-width: 1140px; /* Matches your main container width */
    margin: 0 auto; /* Centers the content */
}

.mega_menu .row {
    margin: 0;
    width: 100%;
}

.mega_menu ul {
    padding: 0;
    list-style: none;
}

.mega_menu ul li a {
    display: block;
    padding: 8px 0;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.mega_menu ul li a:hover{
    color: #35AC75;
}
.mega_img{
    width: 100%;
    height: 250px;
    object-position: center;
    object-fit: cover;
    
}

.mega_menu h3{
    font-size:22px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 30px;
}